.app-add-form {
    background-color: #f5f6ff;
    border-radius: 10px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #3d5a80;
}

.add-form {
    margin: 0 auto;
    max-width: 350px;
}

.add-form input {
    width: 100%;
}