* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9E6E6;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}