.book-list {
    color: #3d5a80;
}
.book-list-title {
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
}

.book-list-title span {
    line-height: 35px;
    font-size: 20px;
    width: 40%;
}

.book-list-title .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
}

.app-list {
    background-color: #3d5a80;
    border-radius: 10px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
}