.btn-group {
    padding: 15px;
    padding-bottom: 10px;
    background-color: #3d5a80;
    border-radius: 10px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
    width: 100%;
    flex-wrap: wrap;
}

.btn-group>.btn {
    flex: 0 1 auto;
    border-radius: 3px;
    width: 20%;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-radius: 3px;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 0;
}