.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
}
.navbar__header {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
.navbar__login {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
.container {
  width: 1140px;
  display: flex;
  align-items: center;
}