input {
  border: none;
  border-bottom: #566885 solid 3px;
  background: transparent;
  width: 100%;
  padding: 3px;
  display: block;
}
input:focus {
  outline: none;
  transform: scale(1.01);
}
::-webkit-input-placeholder {
  /* Chrome */
  color: #566885;
  font-weight: 700;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #566885;
  font-weight: 700;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #566885;
  font-weight: 700;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #566885;
  font-weight: 700;
}